@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Prompt&display=swap');
* {
    box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
  }
body {
    font-family: 'Prompt', Arial, sans-serif;
}
h1 {
    font-family: 'Berkshire Swash', Arial, sans-serif;
    
}
#title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 7em;
}
#hero-img, .aboutHero {
    width: 100%;
}
.active {
    /* background-color: #f0f032; */
	background-color: white;
}
/* #title {
	position: relative;
	width: 30%;
	color: gray;
} */
footer {
	font-size: 1.4em;
	padding: 10px;
	text-align: center;
}
.footers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	text-align: left;
	padding: 20px;
}
.footer {
	text-align: center;
	/* background-color: #BC4749; */
    background-color: #ffffff;
	color: black;
	width: 98%;
	margin: 0 auto;
}


/* Weather */
#background {
    display: block;
    height: auto;
    text-align: center;
    padding: 5px;
    /* margin-bottom: 50px; */
    /* background-image: linear-gradient(
        to bottom,
        rgba(248, 52, 8, 0.5),
        rgba(0, 0, 255, 0.5)); */
        /* background-image: linear-gradient(
            to bottom,
            rgb(7, 197, 244),
            rgba(255, 255, 255, 0.997),
            rgb(141, 244, 7)); */
        /* background-image: linear-gradient(
            to bottom,
            rgb(255, 255, 255),
            rgba(249, 210, 39, 0.997),
            rgb(222, 89, 211)); */
        background-image: linear-gradient(
            to bottom,
            rgb(255, 255, 255),
            rgba(249, 210, 39, 0.997),
            rgb(255, 255, 255));

}
#weather, #weather1, #weather2, #weather3 { 
    /* margin: 5px; */
    width: 100%;
}
.forecast {
    display: flex;
    width: 80%;
}
#weatherPic, #temperature {
    margin: 0;
}
.one {
    display: flex;
    justify-content: center;
}
.one img {
    padding: 0;
}
/* Hamburger */
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	/* background-color: #eee; */
    background-color: #ff7b00;
	/* color: #000; */
	color: white;
}

#menu::before {
	content: "≡";
}

nav, footer {
	background-color: #ff7b00;

}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: black;
	/* background-color: #fff200; */
	background-color: #c3fa10;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Fresh Page */
.home-grid {
    display: block;
    height: auto;
}
.drink {
    display: block;
    width: 80%;
    box-shadow: 5px 5px 10px #f3de1b;
	margin-top: 80px;
}
.msg {
    display: block;
    width: 80%;
    margin: 0 auto;
	background-color: #fff95b;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #f6f463;
	text-align: center;	
}
.msg p {
    color: black;
    font-size: 1em;
    padding-bottom: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.create {
    background-color: #acd81d;
    color: black; 
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 80px;
	box-shadow: 5px 5px 10px #605f38;
}
.create:hover {
    background-color:white;
    color: black;
}

form {
	max-width: 480px;
	margin: auto;
	padding: 0.5rem;
	align-items: center;
	margin-bottom: 100px;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #a99344;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem; 
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #8ee135;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: auto;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
.request {
    text-align: center;
    margin-top: 100px;
}
textarea {
    width: 320px;
    height: 100px;
}

/* About Us Page */
.about {
    margin: 30px;
}
.hover {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}
.hover[data-src] {
    filter: blur(0.1em)
}
.hover:hover {
    box-shadow: 0 0 50px rgb(244, 235, 81);
}
/* #img {
    width: 100%;
} */
/* #hero {
    display: block;
    height: auto;
} */
#hero-msg h1, #hero-msg h3, #hero-msg p {
    text-align: center;
    color: #ff7b00;
}
/* #hero-box {
    display: block;
} */
#heroPic {
    width:100%;
    margin-bottom: 50px;;
}
#hero {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    /* grid-row: 1/3; */
    grid-row: 1/6;
}
.home-title {
    font-size: 2em;
    color: black;
    margin-top: 10px;
}

#hero-msg {
    grid-column: 2/3;
    /* grid-row: 1/2; */
    grid-row: 2/5;
    margin-top: 100px;
}
.maps {
    display: block;
}
 