/* Hamburger */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
	/* Weather */
	
	.forecast {
		display: flex;
	}
	
	/* Drink */
	.home-grid {
		display: grid;
		grid-template-columns: repeat(10, 1fr)
	}
	.msg {
		width: 100%;
		grid-column: 6/10;
		grid-row: 6/7;
    }
	.drink {
		width: 100%;
		grid-column: 2/7;
		grid-row: 5/8;
	}

	/* About Us */
	.about p {
        margin-left: 100px;
        text-align: left;
    }
    .about img { 
        margin: 30px;
    }
	.maps {
		display: flex;
	}
	.mapPic {
		margin-left: 20px;
		margin-top: 20px;
	}
}