body {
    font-family: 'Poppins';
    font-size: 16px;
}
h1, h2 {
    font-family: 'Sriracha', cursive;
}
nav a:hover {
    color:rgb(125, 7, 46);
}
/* Small view */
nav {
    display: block;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
}