@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
}
h1 {
    font-family: 'Rowdies', Arial, sans-serif;
    color: #53851D;
}
header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DDD9CD;
}
aside {
    text-align: center;
    background-color: #555;
    color: white;
    width: 90%
    margin: 0 auto;
}
.headings, .footers {
    display: flex;
    justify-content: space-evenly;
}
.logo {
    width: 50px;
}
footer {
    display: flex;
}
footer img {
    max-height: 4rem;
}
.address {
    margin-left: 0;
}
.footer1 {
    text-align: center;
    background-color: #555;
    color: white;
    width: 90%;
    margin: 0 auto;
}
.social {
    display: flex;
}
nav {
    display: flex;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
.main div {
    grid-column: span 1;
    width: 100%;
    background-color: gray;
    height: 200px;
}
.green {
    color: #53851D;
    font-weight: bold;
}
nav button {
    display: flex;
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    justify-content: right;
    align-content: right;
}
#primaryNav {
    display: none;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
}
#primaryNav a:hover {
    color: white;
    background-color: #53851D;
}
#primaryNav a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #53851D
}

#primaryNav.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
