@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');
* {
    box-sizing: border-box;
  }
body {
    font-family: 'Poppins', Arial, sans-serif;
}
.active {
    background-color: #d2d3d2;
}
h1 {
    font-family: 'Sriracha', Arial, sans-serif;
    color: #53851D;
}
header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEFAE0;
}
aside {
    text-align: center;
    background-color: #BC4749;
    color: white;
    width: 98%;
    margin: 0 auto;
}
#hero img {
    width: 100%;
    height: 100%;
}
.location {
    text-decoration: none;
}
#hero {
    position: relative;
}
#temperature {
    font-size: 3em;
    margin-left: 40px;
    color: black
}
#hero h2{
    position: absolute;
    color: #363636;
    font-family: 'Sriracha', Arial, sans-serif;
    margin-left: 5px;
    font-size: 2rem;
}
#hero a {
    /* background-color: #63e2c6; */
    position: absolute;
    color: black; 
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    bottom: 2.5rem;
    right: 4rem;
    text-align: center;
    background-color: #e07a5f;
}
.join2 {
    display: none;
}
.heart {
    font-size: 1.2rem;
}
h3, h4 {
    text-align: center;
    color:black;
}
.headings, .footers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .footers, .contact {
    margin-left: 250px;
}
.footerImg {
    margin-right: 10px;
} */
.logo {
    width: 50px;
}
footer {
    display: flex;
    margin-top: 20px;
}
main p, h2, h4 {
    color: #22223b;
    text-align: center;
}
footer img {
    max-height: 4rem;
}
.address {
    margin-left: 0;
}
.footer1 {
    text-align: center;
    background-color: #BC4749;
    color: white;
    width: 98%;
    margin: 0 auto;
}
#announcement {
    display: none;
}
.social {
    display: flex;
    /* margin-left: 150px; */
    /* height: 16px;
    margin-top: 16px; */
}
nav {
    display: flex;
}
.truck {
    width: 80px;
}
.tree {
    width: 80px;
}
.weatherPic {
    width: 70px;
    margin-left: 15px;
}
.main {
    grid-gap: 5px;
    color: white;
    opacity: .9;
}
.main div {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    background-color: #52b788;
    /* height: 200px; */
}
.main_grid5, .main_grid6, .main_grid7 {
    text-align: center;
}
.main_grid1, .main_grid2, .main_grid3, .main_grid4, .main_grid5, .main_grid6 {
    padding: 10px;  
    place-items: center;
} 
.main_grid4 {
    text-align: center;
}
.main_grid7 {
    display: none;
}
.green {
    color: #238055;
    font-size: 20px;
    font-family: 'Sriracha', Arial, sans-serif;
}
.hover {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
    /* border: 2px #52b788 solid; */
}
.hover[data-src] {
    filter: blur(0.1em)
}
/* .label {
    font-weight: 900;
    color: #BC4749;
} */
#visits {
    color: #BC4749;
    font-weight: bolder;
    font-size: larger;
}
.discover {
    margin: 30px;
    /* how do I put margin on the right side? */
}
.discover p { 
    margin: 30px;
}
#hamburgerBtn {
    display: flex;
    margin: .2rem;
    background-color: transparent;
    border: none; 
    font-size: 2rem;
    color: #555;
    justify-content: right;
    align-content: flex-end;
}
nav ul {
    display: none;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    align-items: center;
}
#primaryNav a:hover, #primaryNav a:active {
    color: white;
    background-color: #53851D;
}
#primaryNav a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #53851D;
    font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    margin-left: 30px;
}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Join Us Page */
form {
	max-width: 480px;
	margin: auto;
	/* border: 1px solid #bbb; */
	padding: 0.5rem;
	/* background-color: #FEFAE0; */
    /* background-color: #52b788; */
    /* border-radius: 10px; */
	align-items: center;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    /* color: #53851D; */
    margin: 0 1rem;
    padding: 0 .5rem; 
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #53851D;
    font-size: 1rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    /* color: #555; */
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #53851D;;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    /* margin: 0 0 2rem 2%; */
    margin: auto;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
.joinpage {
    text-align: center;
    margin-top: 30px;
}
.thanksmain {
    min-height: 400px;
}
.thankyou {
    max-width: 480px;
    margin: 30px auto;
    border: 1px solid #bbb;
    padding: 2rem;
    /* background-color: #FEFAE0; */
    /* background-color: #52b788; */
    border-radius: 10px;
    display: grid;
    align-items: center;
}

fieldset .membership {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Directory Page */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    padding: 20px;;
    font-size: .75rem;
    text-align: center;
}
.grid section {
    box-shadow: 0 0 10px #777;
    padding: 15px;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	/* background-color: #bbb; */
	text-align: center;
}
.menu button {
	padding: 1rem;
	font-weight: 700;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section:nth-child(even) {
	background-color: #bed;
}
.directory {
    margin: 30px;
    text-align: center;
    /* font-family: Geneva, Verdana, sans-serif; */
    /* color: #BC4749; */
}