body {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%
}
header, footer {
    background-color: rgba(14, 73, 136, 0.852);
    border-radius: 20px;
    box-shadow: 0 0 30px #6f7364;
    margin: 30px;
    text-align: center;
}
header img {
    width: 200px;
    margin: 30px;
    margin-left: 50px;
    box-shadow: 0 0 30px #6f7364;
}
header {
    display: grid;
    grid-template-columns: 20% 80%;
}
 h1, footer p {
    color: white;
 }
 h1 {
    margin: 0 auto;
    font-size: 5rem; 
    margin-top: 100px;
}
h2 {
    margin-left: 50px;
    font-size: 2rem;
}
ul {
    margin-left: 50px;
}
.footer1 {
    padding-top: 20px;
}
.footer2 {
    padding-bottom: 20px;
}